html, body
{
    height: 100%;
}
.box
{
    padding: 0.5rem;
}
.level:not(:last-child)
{
    margin-bottom: 1rem;
}
.stats__container
{
    max-width: 30vw;
    padding: 0.5rem;
    max-height: 3rem;
    border-radius: 0.75rem;
    margin: 0 auto 0.75rem;
    background-color: #f5f5f5;
}
.stats__container--expanded
{
    max-width: 55vw;
    max-height: 10rem;
}
.stats__icon
{
    vertical-align: top;
}
.stats__icon--rotated
{
    transform: rotate(180deg);
}
.section
{
    padding: 1rem 0.75rem;
}
.columns
{
    margin-top: 0;
}
.desaturate
{
    filter: saturate(62%);
}
.light
{
    background-color: white;
}
.dark
{
    background-color: #4a4a4a
}
.very-dark
{
    background-color: #363636;
}
.transitions
{
    transition: background-color 0.5s ease-out, max-width 0.2s ease-out;
}
